.card{
    border-color: lightgreen;
}
.linkedin-icon{
    color: rgb(10, 102, 194);
}
.instagram-icon{
    color: rgb(194, 0, 131);
}
.facebook-icon{
    color: rgb(23, 115, 234);
}
.twitter-icon{
    color: rgb(0, 167, 231);
}
.whatsapp-icon{
    color: rgb(83, 201, 96);
}